html,
body,
#app {
  background: #333;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: Roboto, sans-serif;
}

#main-container,
#main-container > * {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#main-wrap {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#leftnav {
  min-width: 235px;
  display: flex;
  flex-direction: column;
  margin-right: 0;
  z-index: 500;
}

#leftnav > * {
  flex-grow: 1;
  overflow-y: auto;
}

#content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

#content > div {
  display: 'flex';
  flex-grow: 1;
}
