$fullWhite: #fff;
$fullBlack: #000;

$green: green;
$orange: orange;
$softOrange: cyan;

$red: red;


.xman-buttons div:not(:first-child), .xman-buttons div:not(:first-child) > button {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.xman-buttons div:not(:last-child), .xman-buttons div:not(:last-child) > button {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}


