// This is 4ME configuration file
// These are sensible defaults
window.FOURME_CONFIG = {
// `4me.env` environment (see https://gitlab.com/devteamreims/4me.env)
  FOURME_ENV: 'LFEE',
// Override cwpId (demo website) DEPRECATED !
  overrideCwpId: 32,
// This will disable specific 4me modules at runtime
  disabledModules: ['exampleModule'],
// Module specific stuff here
  core: {
    mappingUrl: 'http://mapping.4me',
    overrideClientId: 32,
  },
  mapping: {
    url: 'http://mapping.4me',
    disableEmergencyRadios: true,
  },
  xman: {
    url: 'http://xman.4me',
  },
  etfmsProfile: {
    url: 'http://etfms-profile.4me',
  },
  // DEPRECATED CONFIGURATION API !
  core_mapping_url: 'http://mapping.4me',
  mapping_url: 'http://mapping.4me',
  xman_url: 'http://xman.4me',
  arcid_url: 'http://arcid.4me'
};
